a {
    text-decoration: none !important;
}

@media only screen and (max-width: 576px) {

    .carousel {
        height: 30vh;
    }

    .carousel-item img {
        object-fit: cover;
        height: 30vh;
    }
}

@media only screen and (min-width: 576px) {
    #proximosEventos .card {
        min-height: 350px !important;
    }
}

.card {
    min-height: 350px !important;
    min-width: 250px !important;
}

.card-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    background: none !important;
    border: none !important;
}

:root {
    --bs-card-cap-padding: 0.5rem !important;
}

.whiteText a {
    color: white !important;
}

#realizacao img {
    width: 10rem;
    height: 10rem;
}