a {
    text-decoration: none !important;
}

@media only screen and (max-width: 576px) {

    .carousel {
        height: 30vh;
    }

    .carousel-item img {
        object-fit: cover;
        height: 30vh;
    }
}

@media only screen and (min-width: 576px) {

    .sectionTitle {
        padding-bottom: 0.5rem;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }

    #proximosEventos .card {
        min-height: 350px !important;
    }

    #maisInformacoes .card {
        min-width: 400px !important;
    }
}

#proximosEventos .card {
    min-height: 400px !important;
    min-width: 250px !important;
}

#proximosEventos .card-body img {
    margin-right: 0.5rem;
}

#proximosEventos .form-select {
    width: 60%;
    padding: 0.2rem 0.5rem;
    border-radius: 2rem;
}

/* - igual ao site anterior -

#proximosEventos .card-body span {
    padding: 0.2rem 0.5rem;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 2rem;
}

:root #proximosEventos .card-footer {
    --bs-card-cap-padding-y: 0rem;
    --bs-card-cap-padding-x: 0rem;
}

:root #proximosEventos .card-footer .btn {
    --bs-btn-border-radius: 0.375rem 0rem 0rem 0rem;
}

*/


#proximosEventos .card-footer {
    background: none !important;
    border: none !important;
}

#cardNoticias .card {
    min-height: 500px;
}

#cardNoticias .card-footer {
    background: none !important;
    border: none !important;
}

#noticias {
    background-color: #f0c6a181;
}

#cardNoticias .card {
    border: none;
}

#maisInformacoes .card {
    min-width: 380px !important;
}

#maisInformacoes .card-img-bottom {
    min-height: 200px !important;
}

#maisInformacoes .card-img-bottom {
    min-height: 200px !important;
}

:root a {
    --bs-link-color: white;
    --bs-link-hover-color: rgb(187, 187, 187);
}

#footerAcompanheNovidades a {
    color: var(--bs-link-color);
}

#footerLinksUteis {
    padding-left: 0.5rem;
    border-left: 1px solid white;
}

#footerLinksUteis ul li a:hover{
    color: var(--bs-link-hover-color);
}


.whiteText a {
    color: white !important;
}

#realizacao img {
    width: 10rem;
    height: 10rem;
}