a {
    text-decoration: none !important;
}

#pesquisaEventos input {
    border-radius: 2rem;
}

#navecacao .whiteText {
    color: white !important;
}

#pesquisaEventos span {
    background-color: transparent !important;
    border-radius: 2rem;
    border: none;
    position: absolute;
    right: 0;
    top: 12%;
}

#calendario button {
    border-radius: 2rem;
}

#proximosEventos .card {
    min-height: 400px !important;
    min-width: 250px !important;
}

#proximosEventos .card-body img {
    margin-right: 0.5rem;
}

#proximosEventos .form-select {
    width: 60%;
    padding: 0.2rem 0.5rem;
    border-radius: 2rem;
}

#proximosEventos .card-footer {
    background: none !important;
    border: none !important;
}

#cardNoticias .card {
    min-height: 500px;
    height: 100%;
}

#cardNoticias .card-footer {
    /*
    background: none !important;
    border: none !important;
    */
    display: block;
}

#noticias {
    background-color: #f0c6a181;
}

#cardNoticias .card {
    border: none;
}

#cardNoticias .card .card-text {
    text-align: justify;
}

#cardNoticias .card .card-footer {
    background-color: #dc3545;
    border: none;
}

#maisInformacoes .card {
    min-width: 380px !important;
}

#maisInformacoes .card-img-bottom {
    min-height: 200px !important;
}

#maisInformacoes .card-img-bottom {
    min-height: 200px !important;
}

:root a {
    --bs-link-color: white;
}

#footerAcompanheNovidades a {
    color: white !important;
}

#footerLinksUteis {
    padding-left: 0.5rem;
    border-left: 1px solid white;
}


.whiteText a {
    color: white !important;
}

#realizacao img {
    width: 10rem;
    height: 10rem;
}


@media only screen and (max-width: 576px) {

    .carousel {
        height: 30vh;
    }

    .carousel-item img {
        object-fit: cover;
        height: 30vh;
    }
}

@media only screen and (min-width: 576px) {

    .sectionTitle {
        padding-bottom: 0.5rem;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }

    #proximosEventos .card {
        min-height: 350px !important;
    }

    #maisInformacoes .card {
        min-width: 400px !important;
    }
}